
name: Build and Push image 

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: pratyay360/git2ghcr@v2
        with:
          image: ghcr.io/${{ github.repository }}
          tags: latest
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
